<h1>All Public Wikis</h1>
<% if user_signed_in?%>
<p>
  <%= link_to "Create new wiki", new_wiki_path, class: 'btn btn-success' %>
</p><% end %>
<div align="center">
  <%= will_paginate @wikis%>
</div>
<div class="col-xs-10 col-xs-offset-1 tabletop">
<table class="wikitable" id="one">
  <tr class="tablehead">
    <th>Wiki</th>
    <th>Creator</th>
    <th>Actions</th>
  </tr>
   
 <% @wikis.each do |x| %>
    <tr class="tablehead">
      <td>- <%= link_to x.title, wiki_path(x.id) %></td>
      <td><%= link_to x.user.username, user_path(x.user) if x.user %></td>
      <% if user_signed_in? %>
      <td align="center"><%= link_to 'Edit', edit_wiki_path(x.id), class: 'btn btn-warning' %> <%= link_to "Delete", wiki_path(x.id), method: :delete, 
      class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %></td>
      <% else %>
      <td align="center"><%= link_to 'Log In to Edit',  new_user_session_path, class: 'btn btn-warning' %> or
      <%= link_to ' Sign Up', new_user_registration_path, class: 'btn btn-primary'  %></li> </td>
    </tr>
    <%end%>
 <% end %>
 </table>
 </div>



  <h2>Wikis</h2>
  <div class="newspaper">
    <% @wikis.each do |x| %>
        <% if x.private == false %>
            <p><%= link_to x.title, edit_wiki_path(x.id) %></p>
        <% else %>
            <p><%= link_to x.title, edit_wiki_path(x.id) %> -- private</p>
        <% end %>
    <% end %>
  </div>


<div align="center">
  <%= will_paginate @wikis%>
</div>
