<h1><%= @wiki.title %></h1>
 
 <div class="row">
   <div class="col-md-8">

    <div class="paragraph">
      <p><small> created by: [<%= link_to @wiki.user.username, user_path(@wiki.user)%>] <br>
      last updated: <%= @wiki.updated_at %></small></br>
   </div>
     <p><%= markdown(@wiki.body) %></p>
   </div>
   <div class="col-md-4">
    <% if user_signed_in?%>
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-warning btn-que' %>
      <%= link_to "Delete Wiki", wiki_path(@wiki), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
    <% else %>  
      <%= link_to 'Log In to Edit',  new_user_session_path, class: 'btn btn-warning' %> or
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary'  %></li>
  <% end %>
    <%= link_to "Back to Index", wikis_path, class: 'btn btn-info' %>
  
   </div>
 </div>